<%@ page import="naw.Venue"%>
<!DOCTYPE html>
<html>
<head>
	<meta name="layout" content="main">
	<g:set var="entityName" value="${message(code: 'venue.label', default: 'Venue')}" />
	<title><g:message code="default.create.label" args="[entityName]" /></title>
	<r:require module="venue"/>
</head>
<body>
	<div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <g:link action="list"><g:message code="default.list.label" args="[entityName]" /></g:link>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li class="active"><g:message code="default.create.label" args="[entityName]" /></li>
        </ul>
     </div>
	<div class="row">
		<div class="col-md-12">
			<div class="box">
			<div class="box-title"><h3><i class="fa fa-bars"></i><g:message code="default.create.label" args="[entityName]" /></h3></div>
			<div class="box-content">
				<g:if test="${flash.message}">
					<div class="alert alert-success">${flash.message}</div>
				</g:if>
				<g:hasErrors bean="${venueInstance}">
		            <div class="alert alert-danger">
						<ul>
							<g:eachError bean="${venueInstance}" var="error">
								<li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>>
									<g:message error="${error}"/>
								</li>
							</g:eachError>
						</ul>
					</div>
				</g:hasErrors>
				<g:uploadForm class="form-horizontal" action="save">
					<g:render template="form"/>
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
							<g:submitButton name="create" class="btn btn-primary" value="${message(code: 'default.button.create.label', default: 'Create')}" />
							<button type="reset" class="btn">Reset</button>
						</div>
					</div>
				</g:uploadForm>
			</div>
			</div>
		</div>
	</div>
</body>
</html>
