<!DOCTYPE html>
<html>
<head>
	<meta name="layout" content="main">
	<r:require module="charts"/>
</head>

<body>
	<!-- BEGIN Main Content -->
	<div class="row">
		admin
	</div>
	<!-- END Main Content -->
	
</body>
</html>
