<%@ page contentType="text/html"%>
<html>
<head>
<title>Order Confirmation</title>
<style type="text/css"> #A
body {
font-family: "Trebuchet MS"
}
</style>
</head>
<body>
<h1>Howdy!</h1>
<p>
Hi, ${email}. Your order has been confirmed.
</p>
<p>
<strong>The NAW Team.</strong>
</p>
</body>
</html>