<%@page contentType="text/html"%>
<%@page defaultCodec="HTML" %>
<html>
<body>
<p>
Hi,
</p>
<p>
Reset password
</p>
<p>
Please click <a href="${uri}">here to reset password</a>.

</p>
<p>
If you have any problems please let us know!
</p>
<p>

</p>
</body>
</html>